@charset "utf-8";
body {
	color: #333;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro";
	font-size: small;
	background: #dbfbff url(../images/404/bg_body.png) repeat-x;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
#outside {
	background: ;
	min-height: 610px;
}
* html #outside {
	min-height: 610px;
}
#wrapper_page {
	width: 763px;
	margin: auto;
	padding: 30px 0 0;
}
h1 {
	height: 273px;
	background: url(../images/404/h1_404_not_found.png);
	text-indent: -9999px;
}
* html h1 {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/h1_404_not_found.png',sizingMethod='scale'); 
}
h2 {
	background: url(../images/404/h2_404_not_found.png) no-repeat;
	text-indent: -9999px;
	margin: -121px 0 20px;
	height: 37px;
}
* html h2 {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/404/h2_404_not_found.png',sizingMethod='scale'); 
}
#content {
	width: 701px;
	margin: auto;
}
h3 {
	font-size: 115%;
	background: url(../images/404/h3_bg_404_not_found.png) no-repeat;
	height: 27px;
	margin: 0 0 13px;
	padding: 8px 0 0 16px;
}
* html h3 {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/404/h3_bg_404_not_found.png',sizingMethod='scale'); 
}
#content ul {
	margin: 0 0 25px;
	padding: 0 0 0 15px;
}
#content li {
	background: url(../images/404/ico_list_check.png) no-repeat left center;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 3px 0 0 20px;
	min-height: 19px;
}
* html #content li {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/404/ico_list_check.png',sizingMethod='scale'); 
}
